@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce&family=Noto+Sans&family=Ubuntu:wght@300&display=swap");

html {
   scroll-behavior: smooth;
}
:root {
   /* Fonts */
   --main-font: "Noto Sans", sans-serif;

   /* Color Variables */
   --main-bg-color: #f5f5f5;
   --normal-color: #2e2e2e;
   --logo-red: #cd3457;

   /* Size Variables */
   --text-h1: 1.4rem;
   --text-h2: 1.2rem;
   --text-card: 4rem;
   --text-icon: 1.6rem;
   --text-normal: 1rem;
   --normal-text: 0.9rem;
   --padding-normal: 1rem;
   --margin-text: 0.5rem;
   --home-logo: 10vw;
   --header-logo-h: 4.5vh;
   --header-nav-icon-h: 2vh;
   --margin-ux-card: 5vh;
   --about-circle-w: 3rem;
   --about-exp-des-margin: 4rem;
   --contact-input-w: 40vw;
   --contact-input-h: 5vh;
   --textarea-h: 30vh;

   /* Layout Sizing */
   --full-frame-h: 100vh;
   --full-frame-w: 100vw;
   --home-sb-w: 25vw;
   --home-cf-w: 75vw;
   --home-cfc-w: 25vw;
   --home-cfc-h: 95vh;
   --home-cfc-rad: 2rem;
   --header-h: 7vh;
   --margin-header-h: 9vh;
   --footer-h: 15vh;
   --footer-b-rad: 1rem;
   --ux-card-h: 40vh;
   --ux-card-w: 90vw;
   --about-w: 80vw;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}

.edu-container {
   /* Used to position the left vertical line */
   position: relative;
}

.edu-container .edu-container__line {
   /* Border */
   border-right: 3px solid var(--logo-red);
   border-radius: 99rem;
   /* Positioned at the left */
   left: 1.4rem;
   position: absolute;
   top: 0px;
   /* z-index: -1; */

   /* Take full height */
   height: 100%;
}

.edu-container .edu-container__items {
   /* Reset styles */
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   position: relative;
   z-index: 1040;
}

.edu-container .edu-container__items .edu-container__item {
   margin-bottom: 8px;
}

.edu-container .edu-container__items .edu-container__item .edu-container__top {
   /* Center the content horizontally */
   align-items: center;
   display: flex;
}

.edu-container
   .edu-container__items
   .edu-container__item
   .edu-container__top
   .edu-container__circle {
   background-color: white;
   border-radius: 9999px;
   height: var(--about-circle-w);
   width: var(--about-circle-w);
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 0.2rem solid var(--logo-red);
}

.edu-container
   .edu-container__items
   .edu-container__item
   .edu-container__top
   .edu-container__circle
   img {
   width: 2rem;
}

.edu-container
   .edu-container__items
   .edu-container__item
   .edu-container__top
   .edu-container__circle
   .big {
   width: 7rem;
}

.edu-container
   .edu-container__items
   .edu-container__item
   .edu-container__top
   .edu-container__title {
   /* Take available width */
   padding-left: var(--padding-normal);
   flex: 1;
}

.edu-container .edu-container__items .edu-container__item .edu-container__desc {
   /* Make it align with the title */
   margin-left: var(--about-exp-des-margin);
}
